:root {
  --child-height: 240px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  height: 64px;
  display: flex;
  align-items: center;
  z-index: 9;
  transition: background-color 0.3s, padding 0.3s;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* padding: 0 80px; */
}
header .logo {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.3s;
}
header .logo a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header ul {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 0;
}
header ul li {
  list-style: none;
}
header ul:first-child li a {
  text-transform: uppercase;
}
header ul li a {
  list-style: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-family: 'AVATRFont-Regular';
  position: relative;
}
.HeaderForPC_graphic-logo__3C7QW {
  opacity: 1;
  transition: opacity 0.3s;
}

.HeaderForPC_letter-logo__1cvY3 {
  width: 10em;
  transition: width 0.3s;
}

/* Styles when the header is scrolled */
header:hover,
header.scrolled {
  background-color: #181818;
}

header:hover .logo,
header.scrolled .logo {
  top: -52px;
}
header:hover .HeaderForPC_graphic-logo__3C7QW,
header.scrolled .HeaderForPC_graphic-logo__3C7QW {
  opacity: 0;
}

header:hover .HeaderForPC_letter-logo__1cvY3,
header.scrolled .HeaderForPC_letter-logo__1cvY3 {
  width: 8em;
  height: auto;
}

header ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #b4d719;
  bottom: 0;
  top: 23px;
  transition: width 0.3s ease;
}

header ul li a:hover {
  color: #fff;
}

header ul li a:hover::before {
  width: 100%;
}
/* 
header .dropdown {
  position: fixed;
  left: 0;
  right: 0;
  top: 64px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  overflow: hidden;
  height: 264px;
}
.dropdown .main-container {
  width: calc(100vw - 160px);
  max-width: 100%;
  padding: 30px 0;
}
.dropdown .columns {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.dropdown .column {
  flex: 1;
}
.dropdown .column {
  flex: 1;
} */
