:root {
  --text-color: #181818;
  --white-color: #fff;
}
.body {
  overflow-x: hidden;
  font-family: 'AVATRFont-Regular';
  font-size: 14px;
}
p {
  margin-bottom: 0;
}
.flex-col {
  flex-direction: column;
}
.w-100px {
  width: 100px;
}
.mt-100 {
  margin-top: 100px;
}
.text-dark {
  color: #181818 !important;
}
li {
  list-style: none !important;
}
.fs-14 {
  font-size: 14px;
}
@font-face {
  font-family: 'AVATRFont-Light';
  src: url('../fonts/AVATRFont-Light_EN.woff2') format('woff2'),
    url('../fonts/AVATRFont-Light.woff2') format('woff');
  font-weight: light;
  /* font-style: normal; */
  font-display: swap;
}

@font-face {
  font-family: 'AVATRFont-Regular';
  src: url('../fonts/AVATRFont-Regular_EN.woff2') format('woff2'),
    url('../fonts/AVATRFont-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AVATRFont-Bold';
  src: url('../fonts/AVATRFont-Bold_EN.woff2') format('woff2'),
    url('../fonts/AVATRFont-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.btn {
  width: fit-content;
  padding: 12px 40px;
  background: #fbfbfb;
  border-radius: 10px;
  text-decoration: none !important;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--text-color);
}

.btn svg {
  fill: currentColor;
  transition: fill 0.3s ease;
}

.btn:hover {
  color: #fbfbfb;
  background-color: var(--text-color);
}

.btn:hover svg {
  fill: #fbfbfb;
}

.hero,
.hero-car-details {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.hero img,
.hero-car-details img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
}
.hero .content {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  max-width: 900px;
  width: 100%;
  padding: 0 15px;
}
.hero .content h1 {
  font-size: clamp(1rem, calc(1.5rem + 3.952 * (1vw - 0.2rem)), 5rem);
  font-family: 'AVATRFont-Light';
  margin-bottom: 15px;
}
.hero .content h2 {
  font-size: clamp(1rem, calc(1rem + 3 * (1vw - 0.2rem)), 5rem);
  font-family: 'AVATRFont-Regular';
  margin-bottom: 25px;
}
.hero .content p {
  font-size: 20px;
  margin-bottom: 45px;
}
.hero-car-details .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.hero-car-details .content img {
  width: 307px;
  height: 26px;
  margin-bottom: 20px;
}
.hero-car-details .content p {
  font-size: 16px;
  margin-bottom: 40px;
}
.swiper-container.swiper--bottom:after {
  animation-direction: reverse;
}
.swiper--top .swiper-wrapper,
.swiper--bottom .swiper-wrapper {
  transition-timing-function: linear !important;
  position: relative;
}
.swiper--top .swiper-slide,
.swiper--bottom .swiper-slide {
  font-size: 3.5rem;
  display: flex;
  width: auto;
  text-transform: uppercase;
  font-family: 'AVATRFont-Light';
  font-weight: 300;
}
.running-text {
  padding-bottom: 60px;
}
.section-two h3 {
  font-size: clamp(1.85rem, 1.85rem + ((1vw - 0.2rem) * 1.083), 2.5rem);
  font-weight: 500;
  max-width: 450px;
}
.section-two {
  font-size: clamp(14px, 0.75rem + ((1vw - 3.2px) * 0.625), 20px);
  font-weight: 500;
}
.section-padding {
  padding: 100px 0;
}
.car-models {
  padding-top: 50px !important;
}
.car-models .swiper-button-next,
.car-models .swiper-button-prev {
  color: var(--text-color) !important; /* Change to your preferred color */
}

.main-container {
  max-width: 1000px;
  margin-inline: auto;
}
.main-container h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 44px;
  font-family: 'AVATRFont-Regular';
}

/* tabs  */
.vehicle-motors .tabs {
  font-family: Arial, sans-serif;
}

.vehicle-motors .tab-buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 10px;
}

.vehicle-motors .tab-btn-color {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;
  font-size: 16px;
  background-color: transparent;
  color: var(--text-color);
  font-family: 'AVATRFont-Regular';
  border: 0;
  padding: 0;
  position: relative;
}
.vehicle-motors .tab-btn-color::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1.5px;
  width: 0;
  background-color: #b0d218;
  transition: 0.3s ease;
}

.vehicle-motors .tab-btn-color:hover,
.vehicle-motors .tab-btn-color.active {
  opacity: 1;
}
.vehicle-motors .tab-btn-color:hover::before,
.vehicle-motors .tab-btn-color.active::before {
  width: 100%;
}

.vehicle-motors .tab-panel-color {
  display: none;
  margin-bottom: 30px;
}

.vehicle-motors .tab-panel-color.active {
  display: block;
}
.vehicle-motors .link {
  color: var(--text-color);
  text-decoration: none;
  position: relative;
}
.vehicle-motors .link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1.5px;
  background-color: #b0d218;
  transition: 0.3s ease;
}
.vehicle-motors .link:hover::before {
  width: 100%;
}
.vehicle-motors .btn {
  background-color: var(--text-color);
  font-family: 'AVATRFont-Regular';
  color: var(--white-color);
  border: 1px solid var(--text-color);
}
.vehicle-motors .btn:hover {
  background-color: transparent;
  color: var(--text-color);
}

.about-section {
  position: relative;
}
.about-section .tab-image {
  display: none;
}
.about-section .tab-image.active {
  display: block;
}
.about-section .overlay-container {
  padding: 40px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 100%;
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about-section .overlay-container .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.about-section .overlay-container h3 {
  font-size: 32px;
  line-height: 45px;
  font-family: 'AVATRFont-Light';
  color: var(--white-color);
  margin: 0;
}
.about-section .overlay-container .text h1 {
  font-size: 44px;
  line-height: 62px;
  color: var(--white-color);
  font-family: 'AVATRFont-Regular';
  margin-bottom: 10px;
}
.about-section .overlay-container .text p {
  font-size: 18px;
  font-weight: 500;
  color: var(--white-color);
  margin-top: 200px;
}

.about-section .tab-buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.find-more-btn {
  font-family: 'AVATRFont-Regular';
}
.about-section .tab-btn {
  font-family: 'AVATRFont-Regular';
  padding: 15px 24px;
  border: 0;
  border-bottom: 2px solid var(--white-color);
  background-color: transparent;
  cursor: pointer;
  font-size: 28px;
  color: var(--white-color);
  opacity: 0.5;
  transition: opacity 0.3s;
  flex: 1;
  text-transform: capitalize;
}
.about-section .tab-btn:hover,
.about-section .tab-btn.active {
  opacity: 1;
}
.about-section .tab-content {
  height: 100px;
  color: var(--white-color);
}

.about-section .tab-panel {
  display: none;
}
.about-section .tab-panel p {
  font-family: 'AVATRFont-Regular';
}
.about-section .tab-content > .active {
  display: block !important;
}
/* 
.animeslide-slide {
  color: #fff;
  position: relative;
}

.animeslide-slide a {
  text-decoration: none;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.animeslide-slide a h1,
.animeslide-slide a h4 {
  font-family: 'AVATRFont-Regular';
}
.animeslide-slide a h4 {
  font-size: calc(1.275rem + 0.3vw);
}
.animeslide-slide a h1 {
  font-size: calc(1.375rem + 1.5vw);
}
.find-more {
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  gap: 5px !important;
  font-family: 'AVATRFont-Regular';
}
.find-more svg {
  margin-top: 5px;
}
.animeslide-slide .container {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.animeslide-slide.swiper-slide-active [data-animate] {
  opacity: 1;
  transform: none;
}

.animeslide-slide.swiper-slide-active .animeslide-heading {
  transition-delay: 0.6s;
  font-family: 'AVATRFont-Light';
}
.animeslide-slide.swiper-slide-active h1.animeslide-heading {
  font-family: 'AVATRFont-Regular';
}

.animeslide-slide.swiper-slide-active .animeslide-desc {
  transition-delay: 1s;
  font-family: 'AVATRFont-Regular';
}

.animeslide-heading1 {
  font-size: 32px;
  line-height: 45px;
  transition-duration: 0.3s;
}

.animeslide-desc {
  color: var(--white-color);
  font-size: 16px;
}

[data-animate] {
  opacity: 0;
  transition: all 0.8s ease-out;
}

[data-animate='bottom'] {
  transform: translate3d(0, 15px, 0);
}

.animeslide-button-next,
.animeslide-button-prev {
  outline: none;
}

.animeslide-button-next::after,
.animeslide-button-prev::after {
  font-size: 22px !important;
  color: #fff;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
  bottom: 38px !important;
  background-color: #ddd;
}

.swiper-scrollbar-drag {
  background-color: #b0d218 !important;
} */
.design-center {
  position: relative;
  background-color: #000;
}
.design-center .design-overlay-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 500px;
  text-align: center;
  color: var(--white-color);
}
/* .design-center .tab-img {
  display: none;
} */

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: rgba(255, 255, 255, 0.08);
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
  border: 0;
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: var(--white-color);
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 8px;
  color: var(--white-color);
}

.accordion-item-body-content {
  padding: 0 1rem 1rem 2.7rem;
  line-height: 1.5rem;
  text-align: start;
}
.service-line {
  background-color: #b0d218;
  height: 3px;
  /* width: 100%; */
  position: relative;
  bottom: 0px;
}

footer {
  padding: 50px 0 0;
  border-bottom: 1px solid #7e7e7e;
  background: #fbfbfb;
}
footer p {
  font-size: 12px;
  color: #7e7e7e;
  line-height: 14px;
  margin-bottom: 50px;
  font-family: 'AVATRFont-Regular';
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
  flex: 0.8;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
  margin-right: 32px;
  text-decoration: none;
  font-family: 'AVATRFont-Regular';
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  background: #fbfbfb;
}
.footer-bottom ul:nth-child(2) {
  display: flex;
  align-items: center;
  flex: 0.2;
}
.footer-bottom ul:nth-child(2) li {
  width: 28px;
  height: 28px;
  margin-right: 20px;
}
.footer-bottom ul:nth-child(2) li img {
  width: 100%;
  height: 100%;
}
.copyright p {
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
  display: -moz-box;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  grid-gap: 4px;
  gap: 4px;
  padding: 15px 0;
  margin-bottom: 0;
  font-family: 'AVATRFont-Regular';
}

.section-one {
  position: relative;
  padding-bottom: 70px;
}
.section-one .overlay {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1000px;
}
.section-one h2 {
  font-size: 56px;
  color: #181818;
  text-align: center;
  line-height: 84px;
  font-family: 'AVATRFont-Regular';
}
.section-two .text {
  text-align: center;
}
.section-two .text h2 {
  font-family: 'AVATRFont-Light';
  font-size: 42px;
  color: #181818;
  line-height: 42px;
  font-weight: 200;
}
.section-two .text h6 {
  font-family: 'AVATRFont-Light';
  font-size: 20px;
  color: #181818;
  line-height: 24px;
  font-weight: 200;
  margin-top: 10px;
}
.section-two .scrolltabs .tab {
  flex: auto;
}
.scrolltabs .tabs-container {
  max-width: 100%;
  margin: auto;
}

.scrolltabs .tabs {
  display: flex;
  overflow-x: auto;
  white-space: nowrap; /* Prevents tabs from wrapping */
  width: 100%;
  max-width: calc(100% - 160px);
  margin-inline: auto;
  margin: 32px auto 0;
  justify-content: center;
}
.scrolltabs .tabs::-webkit-scrollbar {
  height: 0; /* Height of the horizontal scrollbar */
}

.scrolltabs .tab {
  flex: 0 0 auto; /* Prevents shrinking of the tabs */
  padding: 10px 20px;
  text-align: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  outline: none;
  transition: background-color 0.3s;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  padding: 0 50px 14px;
  cursor: pointer;
  width: 33.3%;
  font-family: 'AVATRFont-Light';
}

.scrolltabs .tab.active {
  background-color: #fff;
  border-bottom: 2px solid #181818;
  color: #181818;
  font-weight: 600;
}

.scrolltabs .tab-content {
  border-top: none;
}

.scrolltabs .content {
  display: none;
}
.scrolltabs .content img {
  height: 600px;
  object-fit: cover;
}
.scrolltabs .content video {
  display: flex;
}
.scrolltabs .content-text {
  width: 100%;
  padding: 0 80px;
  margin-top: 24px;
  min-height: var(--min-height);
  text-align: center;
  font-family: 'AVATRFont-Regular';
  /* min-height: 160px; */
  font-size: 14px;
  color: var(--text-color);
}

.scrolltabs .content.active {
  display: block;
}
.section-three {
  padding-bottom: 120px;
}
.car-page .heading,
.section-three .heading {
  display: flex;
  gap: 20px;
}
.car-page .heading h1,
.section-three .heading h2 {
  font-family: 'AVATRFont-Light';
  font-size: 36px;
  color: #181818;
  line-height: 42px;
  font-weight: 200;
}
.car-page .heading {
  justify-content: space-between;
  padding: 32px 0;
}
.car-page ul {
  display: flex;
  gap: 36px;
  padding-left: 0;
}
.car-page ul li {
  text-align: center;
  max-width: 19 0px;
}
.car-page .heading h2 {
  font-size: 36px;
  color: #181818;
  line-height: 38px;
  font-family: 'AVATRFont-Regular';
  font-weight: 400;
  display: flex;
  align-items: end;
  justify-content: center;
  gap: 5px;
}
.car-page .heading span {
  font-size: 10px;
  color: #666;
  line-height: 17px;
  font-weight: 400;
  margin-top: -4px;
}
.section-three .heading ul {
  display: flex;
  padding-left: 0;
}
.section-three .heading li {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  gap: 5px;
  font-family: 'AVATRFont-Regular';
  padding-left: 10px;
  position: relative;
  height: fit-content;
}
.section-three .heading li::before {
  content: '';
  position: absolute;
  left: -1px;
  width: 1px;
  height: 100%;
  background-color: #181818;
}
.section-three .heading li span {
  font-size: 12px;
  color: #181818;
  line-height: 16px;
  font-weight: 500;
}
.section-three .heading li h3 {
  font-size: 24px;
  color: #181818;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 0;
}
.section-three .heading li:last-child {
  margin-right: 0;
}
.section-one .text {
  text-align: center;
}
.section-one .text h1 {
  font-family: AVATRFont-Light;
  font-size: 42px;
  color: #181818;
  line-height: 42px;
  font-weight: 200;
}
.section-one .text h6 {
  font-family: AVATRFont-Light;
  font-size: 20px;
  color: #181818;
  line-height: 24px;
  font-weight: 200;
  margin-top: 10px;
}
.section-one .text h4 {
  font-family: AVATRFont-Light;
  font-size: 36px;
  color: #181818;
  text-align: center;
  font-weight: 200;
  padding: 60px 0 40px;
}
.car-page .swiper-button-next,
.car-page .swiper-button-prev {
  background: #181818;
}
.imgaewthtextbox {
  position: relative;
  overflow: hidden;
}
.imgaewthtextbox .swiper-wrapper {
}
.imgaewthtextbox .imagewithtextcontainer {
  display: flex;
}
.imgaewthtextbox .imagewithtextcontainer .text {
  width: 100%;
  padding: 28px 32px;
  border: 1px solid #979797;
  position: relative;
  z-index: 2;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
}
.imgaewthtextbox .imagewithtextcontainer .text h3 {
  font-size: 30px;
  line-height: 36px;
  font-family: AVATRFont-Light;
  font-size: 36px;
  color: #181818;
  font-weight: 300;
}
.imgaewthtextbox .imagewithtextcontainer .text p {
  font-family: AVATRFont-Light;
  font-size: 14px;
  color: #181818;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 300;
}
.imgaewthtextbox .swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.4);
  height: 2px;
  width: 24px;
  border-radius: 0;
}
.imgaewthtextbox .swiper-pagination-bullet-active {
  background-color: #181818;
}
.swiper-without-arrow h1 {
  font-family: AVATRFont-Light;
  font-size: 36px;
  color: #181818;
  text-align: center;
  font-weight: 200;
  padding-bottom: 40px;
}
.tab-section2 {
  background-color: #000;
  padding-top: 80px;
}
.tab-section2 .scrolltabs .tab {
  color: var(--white-color);
  background-color: transparent;
  width: fit-content;
}
.tab-section2 .scrolltabs .content-text {
  color: var(--white-color);
}
.tab-section2 .scrolltabs .tab.active {
  border-color: var(--white-color);
}

.dark-section-three {
  background-color: #000;
}
.dark-section-three h2 {
  color: var(--white-color) !important;
  flex: 1;
}
.dark-section-three p {
  font-family: AVATRFont-Light;
  font-size: 16px;
  color: var(--white-color);
  line-height: 24px;
  font-weight: 300;
}
.dark-section-three ul {
  flex: 0.4;
  justify-content: end;
}
.dark-section-three ul li {
  text-align: center;
}
.dark-section-three ul li h3 {
  color: var(--white-color) !important;
  font-size: 36px !important;
  line-height: 38px !important;
  font-weight: 400 !important;
}
.dark-section-three ul li span {
  color: var(--white-color) !important;
}
.dark-section-three .heading {
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-four {
  position: relative;
}
.section-four .icon-main-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.section-four .icon-main-container img {
  width: 50px;
}
.section-four .icon-main-container h3 {
  font-family: AVATRFont-Light;
  font-size: 36px;
  color: #fff;
  line-height: 42px;
  font-weight: 200;
}
.section-four .icon-main-container h5 {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  font-family: AVATRFont-Light;
}
.section-four .SoundAlgorithms_HarmonyOS-bgm__2-5eY {
  display: block;
  margin: 0 auto;
  width: 723px !important;
  max-width: 100%;
}
.car-page p {
  font-family: AVATRFont-Light;
  font-size: 16px;
  color: #181818;
  line-height: 24px;
  font-weight: 300;
}
.sectioncarpage .animeslide-slide .container {
  bottom: 0;
  top: auto;
}
.avatr12bg-section-one {
  width: 100%;
  padding-bottom: 90px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% auto;
}
.avatr12bg-section-one h1 {
  width: 100%;
  padding: 120px 80px 40px;
  font-size: 56px;
  color: #181818;
  text-align: center;
  line-height: 84px;
  font-weight: 400;
  font-family: 'AVATRFont-Regular';
}

.avatr12bg-section-one .heading h1 {
  font-family: AVATRFont-Light;
  font-size: 36px;
  color: #181818;
  font-weight: 200;
  padding: 0;
  line-height: normal;
  text-align: start;
}
.avatr12bg-section-one .heading p {
  font-size: 16px;
  color: #181818;
  line-height: 24px;
  font-weight: 400;
  font-family: AVATRFont-Light;
}
.Power_container-ev__2DJyZ {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  gap: 24px;
  font-size: 0;
}
.Power_container-ev__2DJyZ .Power_content-ev__1jwZS {
  padding-left: 80px;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
}
.Power_container-ev__2DJyZ .Power_ev-title__3e_Z8 {
  font-size: 36px;
  color: #181818;
  font-weight: 600;
  font-family: AVATRFont-Light;
}
.Power_container-ev__2DJyZ .Power_ev-content__2v22O {
  font-family: AVATRFont-Light;
  font-size: 16px;
  color: #181818;
  line-height: 24px;
  font-weight: 200;
  margin-top: 8px;
}
.TextOnImg_content__1DDkn {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}
.TextOnImg_text-title__2_zUz {
  font-family: AVATRFont-Light;
  font-size: 36px;
  color: #fff;
  font-weight: 200;
  margin-bottom: 12px;
  max-width: 50%;
}
.TextOnImg_text-desc__Oe_RF {
  font-family: AVATRFont-Light;
  font-size: 16px;
  color: #fff;
  line-height: 28px;
  font-weight: 200;
  max-width: 50%;
}
.Luxury_modes-pc-title__2UJ1L.Luxury_modes-pc-title__2UJ1L {
  margin-top: 80px;
}
.Luxury_modes-pc-list__3U7Nn {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 16px;
  gap: 16px;
  margin-top: 24px;
}
.Luxury_modes-pc-item__1wx6Z {
  padding: 16px;
  border: 1px solid #fff;
  list-style: none;
}
.Luxury_modes-pc-item__1wx6Z > p {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
  line-height: normal;
}
.Luxury_luxury-vivid__fhe0x {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-gap: 26px;
  gap: 26px;
  padding-top: 60px;
  background-color: #000;
}
.Luxury_vivid-content__1itfX {
  padding-left: 80px;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  grid-gap: 12px;
  gap: 12px;
  -moz-box-pack: center;
  justify-content: center;
}
.Luxury_luxury-vivid__fhe0x .Luxury_vivid-title__10L3d {
  font-family: AVATRFont-Light;
  font-size: 36px;
  color: #fff;
  font-weight: 200;
}
.Luxury_luxury-vivid__fhe0x .Luxury_vivid-desc__9Wfcd {
  font-family: AVATRFont-Light;
  font-size: 16px;
  color: #fff;
  line-height: 28px;
  font-weight: 200;
}
.Chassis_chassis-lightspot__3UAes {
  width: 100%;
  padding: 0;
  margin-top: -70px;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  gap: 12px;
}
.Chassis_lightspot-item__2m_EA {
  background: rgba(255, 255, 255, 0.6);
  border: 1px solid #fff;
  padding: 36px 20px;
  text-align: center;
  font-size: 16px;
  color: #181818;
  line-height: 32px;
  font-weight: 600;
  list-style: none;
  font-family: AVATRFont-Light;
}
.SwiperPC03_figure-content__3X3yN {
  display: -moz-box;
  display: flex;
  grid-gap: 24px;
  gap: 24px;
  padding: 0;
  text-align: center;
  margin-bottom: 0;
  margin-top: auto;
}

.SwiperPC03_figure-value__2nGfn {
  font-size: 34px !important;
  color: #181818 !important;
  line-height: 38px !important;
  font-weight: 600 !important;
  font-family: AVATRFont-Light;
  margin-bottom: 0 !important;
}
.SwiperPC03_figure-value__2nGfn span {
  font-size: 12px;
  line-height: 38px;
  font-weight: 300;
  font-family: AVATRFont-Light;
}
.SwiperPC03_figure-name__2ERnE {
  font-size: 10px !important;
  color: #666 !important;
  letter-spacing: 0 !important;
  line-height: 12px !important;
  font-weight: 400 !important;
  font-family: AVATRFont-Light;
  margin-bottom: 0;
}
.imagewithtextcontainer .video-container {
  flex: 0.7;
}
.imagewithtextcontainer .text-container {
  flex: 0.3;
}
.imagewithtextcontainer .text-container h3 {
  font-size: 30px !important;
  line-height: 36px !important;
}
.whitepanigation .imgaewthtextbox .swiper-pagination-bullet-active {
  background-color: var(--white-color) !important;
}
.whitepanigation .imgaewthtextbox .swiper-pagination-bullet {
  background-color: var(--white-color) !important;
}
.Intelligence_intelligence-second-title__2GORS {
  font-family: AVATRFont-Light;
  font-size: 36px;
  color: #181818;
  line-height: 50px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 25px;
}
.SectionTitle_title__39HkV {
  font-family: AVATRFont-Light;
  width: 100%;
  font-size: 56px;
  color: #181818;
  text-align: center;
  line-height: 84px;
  font-weight: 400;
}
.SwiperPC01_slider-data__2kCeI {
  display: -moz-box;
  display: flex;
  grid-gap: 36px;
  gap: 36px;
}
.SwiperPC01_data-item__2KGUH {
  text-align: center;
}
.SwiperPC01_item-value__1Clv8 {
  font-size: 32px !important;
  color: #181818 !important;
  line-height: 38px !important;
  font-weight: 600 !important;
  font-family: AVATRFont-Light;
}
.SwiperPC01_item-name__1EGZZ {
  font-size: 10px !important;
  line-height: 17px !important;
  font-weight: 400;
  margin-top: -4px !important;
  font-family: AVATRFont-Light;
}
.Intelligence_laser-cabi__1Crj5 {
  width: 100%;
  padding: 0;
  margin-top: 120px;
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  grid-gap: 60px;
  gap: 60px;
}
.Intelligence_laser-cabi-item__Auu_U {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 60px;
  gap: 60px;
}
.Intelligence_laser-cabi-item__Auu_U .Intelligence_item-content__2p9qY {
  display: -moz-box;
  display: flex;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  grid-gap: 12px;
  gap: 12px;
}

.Intelligence_laser-cabi-item__Auu_U .Intelligence_item-content__2p9qY p {
  font-family: AVATRFont-Light;
  font-size: 14px;
  color: #181818;
  line-height: 24px;
  font-weight: 200;
}
.Intelligence_laser-cabi-item__Auu_U .Intelligence_item-title__1-g4u {
  font-family: AVATRFont-Light;
  font-size: 36px;
  color: #181818;
  line-height: 42px;
  font-weight: 200;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 6px;
}
html {
  scroll-behavior: smooth;
}
.humburger {
  display: none;
}
.mobile-menu {
  display: none;
}

.section-two-avatr11 {
  background-color: #000;
  min-height: 450px;
  height: auto; /* Allow height to expand */
  overflow: visible; /* Ensure content is not clipped */
  position: relative;
  display: flex;
  justify-content: end;
  /* align-items: st ; */
}

.section-two-avatr11 img {
  object-fit: contain;
  object-position: left !important;
  height: auto;
  width: 500px;
}

.section-two-avatr11 .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow content wrapping */
  position: relative; /* Ensure elements inside are positioned relative to this */
}

.section-two-avatr11 .container .column {
  position: static; /* Removed absolute positioning */
  transform: none;
  max-width: 100%;
  width: 500px;
  /* margin-right: 100px; */
  margin-block: auto;
  padding-block: 60px;
}

.section-two-avatr11 .container .column img {
  width: 150px;
}

.section-two-avatr11 .accordion {
  margin: 1rem 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.section-two-avatr11 .accordion-item {
  border-bottom: 1px solid #e5e5e5;
  color: #fff;
  background-color: transparent;
  border-radius: 0;
  margin: 0;
}

/* Accordion Thumb */
.section-two-avatr11 .accordion-thumb {
  margin: 0;
  padding: 1rem 0;
  cursor: pointer;
  font-weight: normal;
  font-size: 14px;
  position: relative;
}

.section-two-avatr11 .accordion-thumb::before {
  content: '';
  display: inline-block;
  height: 7px;
  width: 7px;
  margin-right: 1rem;
  margin-left: 0.5rem;
  vertical-align: middle;
  border-right: 1px solid;
  border-bottom: 1px solid;
  transform: rotate(-45deg);
  transition: transform 0.2s ease-out;
  position: absolute;
  right: 0;
}

/* Accordion Panel */
.section-two-avatr11 .accordion-panel {
  margin: 0;
  padding: 0 0 0.8rem;
  display: none;
}

.section-two-avatr11 .accordion-panel .row span {
  opacity: 0.5;
}

/* Active State */
.section-two-avatr11 .accordion-item.is-active .accordion-thumb::before {
  transform: rotate(45deg);
}

.section-three-avatr11 h1 {
  text-align: center;
  margin-bottom: 60px;
}
.section-three-avatr11 .tabs-container {
  display: flex;
  align-items: start;
  gap: 2.5rem;
}
.section-three-avatr11 .tabs-container .tabs {
  flex: 0.2;
  flex-direction: column;
  margin: 0;
  position: sticky;
  top: 80px;
}
.section-three-avatr11 .tabs-container .tab {
  width: 100%;
  text-align: start;
  text-wrap: auto;
  padding: 15px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.section-three-avatr11 .tabs-container .tab h4 {
  font-family: 'AVATRFont-Regular';
  font-weight: 600;
}
.section-three-avatr11 .tabs-container .tab p {
  font-family: 'AVATRFont-Regular';
  font-weight: 300;
}
.section-three-avatr11 .tabs-container .tab:hover,
.section-three-avatr11 .tabs-container .tab.active {
  opacity: 1;
}
.section-three-avatr11 .tabs-container .tab-content {
  flex: 0.8;
}
.section-one-avatr11 {
  padding-bottom: 100px;
}
.video-container video {
  cursor: pointer;
}
.video-container #play_button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.section-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1.2fr 0.8fr;
  grid-template-rows: auto auto;
  gap: 5px;
  grid-template-areas:
    'a b'
    'a c';
}
.a {
  grid-area: a;
  display: flex;
  position: relative;
  overflow: hidden;
}
.b {
  grid-area: b;
  display: flex;
  position: relative;
  overflow: hidden;
}
.c {
  grid-area: c;
  display: flex;
  position: relative;
  overflow: hidden;
}
.section-grid .content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 30px;
  color: var(--white-color);
  background: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, #181818 100%);
  width: 100%;
}

.hero-car-details .experience-form {
  width: 50%;
}
.hero-car-details .experience-form .contact-form .grid-rows {
  background-color: rgba(24, 24, 24, 0.6) !important;
}
.hero-car-details .experience-form .contact-form form .grid-rows {
  background-color: transparent !important;
}
.hero-car-details .experience-form .contact-form form .grid-rows select {
  background: rgb(70 70 70 / 27%) !important;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.hero-car-details .experience-form .contact-form form .grid-rows input {
  color: #fff;
}
.hero-car-details
  .experience-form
  .iti--separate-dial-code
  .iti__selected-dial-code,
.hero-car-details .experience-form form .grid-rows input::placeholder,
.hero-car-details .experience-form form .grid-rows select::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
}
.hero-car-details .experience-form .iti__country-list {
  width: 270px;
}

.corresponding-tabs {
  background-color: #fff;
  z-index: 99;
  width: 100%;
  transition: all 0.3s ease-in-out;
}
.corresponding-tabs .sticky-section {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  /* margin-bottom: 50px; */
  border-bottom: 1px solid var(--text-color);
  margin: 0;
  max-width: 100%;
  overflow-y: hidden;
  justify-content: start;
}
.corresponding-tabs .sticky-section a {
  padding-block: 20px;
  display: block;
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  font-size: calc(0.6rem + 0.6vw) !important;
  padding-inline: 0;
}
.corresponding-tabs .sticky-section a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: #b4d719;
  transition: width 0.3s;
  z-index: 99;
}
.corresponding-tabs .sticky-section a:hover::before,
.corresponding-tabs .sticky-section a.active::before {
  width: 100%;
}
.main-section .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.main-section .tags span {
  padding: 5px;
  border: 1px solid #181818d1;
  color: #181818d1;
  font-size: calc(0.5rem + 0.6vw);
  border-radius: 5px;
}
.section-dark .tags span {
  border: 1px solid #ffffffce;
  color: #ffffffce;
}

.section-dark {
  background-color: #000;
  color: #fff;
}

.app-img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.main-section h3 {
  font-size: calc(1.3rem + 0.6vw);
}
.main-section p {
  font-size: calc(0.6rem + 0.6vw);
}

.corresponding-tabs.scrolled {
  position: sticky;
  top: -33px;
  transition: all 0.3s ease-in-out;
}
.corresponding-tabs.scrolled .sticky-section {
  /* margin-bottom: 0; */
}
.margin-top-sccrolled {
  margin-top: 300px;
}
